# Python
backend/venv/
backend/__pycache__/
backend/.pytest_cache/
*.pyc

# Frontend
frontend/voltorb-ui/node_modules/
frontend/voltorb-ui/dist/

# IDEs
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db